@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Indie+Flower&family=Merriweather:wght@900&display=swap');

$desktop-minwidth: 768px;
$color-purple: #6F5F9C;
$color-lightpurple: #bfb8da;
$color-purple-highlight: #8a5082;
$color-blue: #33539e;
$color-lightblue: #7facd6;
$color-bluehighlight: #758eb7;
$color-pink: #a5678e;
$color-lightpink: #e8b7d4;
$color-pinkhighlight: #ff7b89;
$color-teal: #a4cad2;
$color-grey: #444;
$color-lightgrey: #ddd;

html {
    position: relative;
    font-family: 'Cabin', sans-serif;
    min-height: 100%;
    font-size: 14px;

    @media (min-width: $desktop-minwidth) {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
}


header {
    .collage {
        max-width: 380px;
        float: left;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 20;
    }

    .logo {
        position: relative;
        text-align: center;

        a {
            font-family: 'Indie Flower', cursive;
            font-size: 60px;
            color: $color-purple;
            text-decoration: none;

            &:hover {
                color: $color-purple-highlight;
            }
        }
    }

    .navbar {
        background-image: linear-gradient(#fff, $color-lightgrey);
        border-top: 1px solid #eee;
        text-align: right;

        a {
            color: $color-purple;
            font-weight: bold;
        }

        .filler {
            flex-grow: 1;
        }
    }
}

.leaderboard {
    background-image: linear-gradient(140deg, $color-lightpurple 20%, $color-lightblue 50%, $color-lightpink 80%);
    height: 196px;


}

.main-content {
    background-color: $color-lightgrey;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}